.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(34, 150, 228, 0.5);
}

.img{
    border-radius: 10%;
    width: 40%;
}

.h1{
    color: white;
}