.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(34, 150, 228, 0.5);
}

.img{
    border-radius: 10%;
    width: 40%;
}

.h1{
    color: white;
    padding: 0.5em 0.7em;
}

.logo{
    height: 30px;
    width: 30px;
    color: white;
    padding: 0.5 4em;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
    animation: logo infinite 2s linear;
    }
}
@keyframes logo {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }