.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg{
    width: 50vw;
    background-color: rgba(34, 150, 228, 0.5);
    color: white;
    margin-top: 4em;
    padding: 1em;
    border-radius: 00.5em;
}